DailyCookApp/.classpath
*.class
DailyCookApp/target/
DailyCookApp/.metadata/
Servers/
RemoteSystemsTempFiles/
.metadata/
*.prefs
DailyCookApp/src/test/java/com/vn/dailycookapp/utils/JsonTransformTest.java
