<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<!-- <property name="DEV_HOME" value="logs" /> -->
	<property resource="dailycook_config.properties"/>
	
	<appender name="FILE-AUDIT"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>/opt/jenkins/DailyCookApp/target/logs/daily_cook.debug.log</file>
		<!--<file>/opt/logs/logs/daily_cook.debug.log</file>-->
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>
				%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n
			</Pattern>
		</encoder>

		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- rollover daily -->
			<fileNamePattern>${LOG_HOME}/daily_cook.debug.%d{yyyy-MM-dd}.%i.log
			</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>10MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>

	</appender>
	
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>
				%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n
			</Pattern>
		</layout>
	</appender>
	
	<logger name="com.vn.dailycookapp" level="debug" additivity="false">
		<appender-ref ref="FILE-AUDIT" />
	</logger>

	<root level="INFO">
		<appender-ref ref="FILE-AUDIT" />
	</root>

</configuration>